<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.emf.mwe.ui.MWELaunchConfigType">
<booleanAttribute key="java_debug" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="slco_text2slco_ecore"/>
<booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms40m&#10;-Xmx256m"/>
<stringAttribute key="startWorkflow" value="/slco_text2slco_ecore/src/Workflows/wf-slco_text/Simple.mwe"/>
</launchConfiguration>
