<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="nqc.presentation.NqcModelWizardID"
            name="%_UI_NqcModelWizard_label"
            class="nqc.presentation.NqcModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NqcModelFile.gif">
         <description>%_UI_NqcModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="nqc.presentation.NqcEditorID"
            name="%_UI_NqcEditor_label"
            icon="icons/full/obj16/NqcModelFile.gif"
            extensions="nqc"
            class="nqc.presentation.NqcEditor"
            contributorClass="nqc.presentation.NqcActionBarContributor">
      </editor>
   </extension>

</plugin>
