<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.es.ele.tue.nl/poosl/"
            class="poosl.PooslPackage"
            genModel="model/poosl.genmodel"/>
   </extension>

</plugin>
