<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="slco2nqc.presentation.Slco2nqcModelWizardID"
            name="%_UI_Slco2nqcModelWizard_label"
            class="slco2nqc.presentation.Slco2nqcModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Slco2nqcModelFile.gif">
         <description>%_UI_Slco2nqcModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="slco2nqc.presentation.Slco2nqcEditorID"
            name="%_UI_Slco2nqcEditor_label"
            icon="icons/full/obj16/Slco2nqcModelFile.gif"
            extensions="slco2nqc"
            class="slco2nqc.presentation.Slco2nqcEditor"
            contributorClass="slco2nqc.presentation.Slco2nqcActionBarContributor">
      </editor>
   </extension>

</plugin>
